<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Universitet | Learn something new today</title>
</head>

<body>
  <nav>
    <a><i>dropdown</i></a>
    <a>Topics</a>
    <a>Webinars</a>
    <a>Subscription</a>
    <h1>Universitet</h1>
    <a>My lessons</a>
    <a>Profile</a>
    <a><i>search</i></a>
  </nav>
  <div>
    <div>
      <h2>
        Content Marketing
      </h2>
      <p>
        Advanced training in executing an effective inbound marketing strategy
      </p>
      <button>Buy for $15</button>
    </div>
    <div>
      <div>
        <h2>Marketing Software</h2>
        <p>Marketing software training and certification for HubSpot Marketing Platform users.</p>
        <button>Buy for $15</button>

      </div>
      <div>
        <div>
          <h2>Sales Software</h2>
          <p>HubSpot CRM and HubSpot Sales software training and certification for HubSpot Sales Platform users.</p>
          <button>Buy for $15</button>
        </div>
        <div>
          <h2>HubSpot Design</h2>
          <p>Technical product training for web designers using HubSpot COS, templates and website pages</p>
          <button>Buy for $15</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<style>
  /*CSS code goes here*/
</style>